DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}
REDIS_URL=redis://localhost:6379

JWT_SECRET=my-super-secret
JWT_ISSUER=rugo
JWT_ACCESS_TOKEN_SECONDS=900
JWT_REFRESH_TOKEN_SECONDS=3600

LINK_CACHE_TTL_SECONDS=3600
LINK_MAX_CLICKS_TTL_SECONDS=86400

GF_ADMIN_PASSWORD=admin
