DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}

JWT_SECRET=my-super-secret
JWT_ISSUER=rugo
JWT_ACCESS_TOKEN_SECONDS=900
JWT_REFRESH_TOKEN_SECONDS=3600

GF_ADMIN_PASSWORD=admin
