[advisories]
ignore = []

[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "MIT",
    "Unicode-3.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
skip = [
    { name = "windows-sys", version = "0.60.2" },
    { name = "windows-sys", version = "0.61.2" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
